# Ignorar archivos PDF
**/*.pdf

# Ignorar archivos temporales de LaTeX
doc/**/*.acn
doc/**/*.acr
doc/**/*.alg
doc/**/*.aux
doc/**/*.bak
doc/**/*.bbl
doc/**/*.bcf
doc/**/*.blg
doc/**/*.brf
doc/**/*.bst
doc/**/*.dvi
doc/**/*.fdb
doc/**/*.fdb_latexmk
doc/**/*.fls
doc/**/*.glg
doc/**/*.glo
doc/**/*.gls
doc/**/*.idx
doc/**/*.ilg
doc/**/*.ind
doc/**/*.ist
doc/**/*.lof
doc/**/*.log
doc/**/*.lol
doc/**/*.lot
doc/**/*.maf
doc/**/*.mtc
doc/**/*.mtc1
doc/**/*.nav
doc/**/*.nlo
doc/**/*.nls
doc/**/*.out
doc/**/*.pdf
doc/**/*.pyg
doc/**/*.run.xml
doc/**/*.snm
doc/**/*.synctex.gz
doc/**/*.tex.backup
doc/**/*.tex~
doc/**/*.thm
doc/**/*.toc
doc/**/*.vrb
doc/**/*.xdy
doc/**/*.xml
doc/**/*blx.bib
doc/**/.bak 
doc/**/.mtc
doc/**/*-SAVE-ERROR
doc/build/


